@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  color: rgb(253, 253, 253);
  background-color: #0D0E10;
}

body {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;

  max-width: 600px;
  margin: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

p {
  text-indent: 1.5rem;
  color: #a9acc5;
}

h2 {
  font-weight: 700;
  padding-top: 7vh;
}

a {
  color: #C799F5;
}

a:visited { 
  color: #C799F5;
}

ol {
  margin: 0;
  padding: 0rem;
}

ol::before{
  content: "— "
}