<!DOCTYPE html>
<html>

<head>
    <title>David Barsky</title>
    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>Hello!</h1>
    <p>
        I’m David Barsky, and I work at <s>Facebook</s> Meta. I also work on
        the <a href="https://github.com/tokio-rs/tracing">Tracing</a> library.
    </p>
    <p>Before that, I worked at Amazon.</p>
    <p>
        You can find me on elsewhere on
        <a href="https://twitter.com/endsofthreads">Twitter</a>,
        <a href="https://instagram.com/endsofthreads">Instagram</a>,
        <a href="https://github.com/davidbarsky">GitHub</a>, and
        <a href="https://linkedin.com/in/davidbarsky">LinkedIn</a>.
    </p>
</body>